
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/onesentence.iml
.idea/workspace.xml
transactions/__pycache__/admin.cpython-36.pyc
transactions/__pycache__/__init__.cpython-36.pyc
onesentence/__pycache__/wsgi.cpython-36.pyc
onesentence/__pycache__/urls.cpython-36.pyc
onesentence/__pycache__/settings.cpython-36.pyc
onesentence/__pycache__/enums.cpython-36.pyc
onesentence/__pycache__/__init__.cpython-36.pyc
media/upload/Content_File_Of_Suggest/study_cover.jpg
davari/migrations/__pycache__/__init__.cpython-36.pyc
davari/migrations/__pycache__/0002_auto_20190718_0705.cpython-36.pyc
davari/migrations/__pycache__/0001_initial.cpython-36.pyc
davari/__pycache__/views.cpython-36.pyc
davari/__pycache__/urls.cpython-36.pyc
davari/__pycache__/models.cpython-36.pyc
davari/__pycache__/forms.cpython-36.pyc
davari/__pycache__/admin.cpython-36.pyc
davari/__pycache__/__init__.cpython-36.pyc
dashboard/migrations/__pycache__/__init__.cpython-36.pyc
dashboard/__pycache__/views.cpython-36.pyc
dashboard/__pycache__/urls.cpython-36.pyc
dashboard/__pycache__/models.cpython-36.pyc
dashboard/__pycache__/forms.cpython-36.pyc
dashboard/__pycache__/admin.cpython-36.pyc
dashboard/__pycache__/__init__.cpython-36.pyc
business/migrations/__pycache__/__init__.cpython-36.pyc
business/migrations/__pycache__/0003_auto_20190722_0706.cpython-36.pyc
business/migrations/__pycache__/0002_auto_20190722_0649.cpython-36.pyc
business/migrations/__pycache__/0001_initial.cpython-36.pyc
business/__pycache__/views.cpython-36.pyc
business/__pycache__/urls.cpython-36.pyc
business/__pycache__/models.cpython-36.pyc
business/__pycache__/forms.cpython-36.pyc
business/__pycache__/admin.cpython-36.pyc
business/__pycache__/__init__.cpython-36.pyc
blog/migrations/__pycache__/__init__.cpython-36.pyc
blog/migrations/__pycache__/0001_initial.cpython-36.pyc
blog/__pycache__/models.cpython-36.pyc
blog/__pycache__/admin.cpython-36.pyc
blog/__pycache__/__init__.cpython-36.pyc
transactions/__pycache__/models.cpython-36.pyc
transactions/migrations/__pycache__/0001_initial.cpython-36.pyc
transactions/migrations/__pycache__/__init__.cpython-36.pyc
blog/__pycache__/__init__.cpython-36.pyc
blog/__pycache__/admin.cpython-36.pyc
blog/__pycache__/models.cpython-36.pyc
blog/migrations/__pycache__/0001_initial.cpython-36.pyc
blog/migrations/__pycache__/__init__.cpython-36.pyc
business/__pycache__/__init__.cpython-36.pyc
business/__pycache__/admin.cpython-36.pyc
business/__pycache__/forms.cpython-36.pyc
business/__pycache__/models.cpython-36.pyc
business/__pycache__/urls.cpython-36.pyc
business/__pycache__/views.cpython-36.pyc
business/migrations/__pycache__/0001_initial.cpython-36.pyc
business/migrations/__pycache__/0002_auto_20190722_0649.cpython-36.pyc
business/migrations/__pycache__/0003_auto_20190722_0706.cpython-36.pyc
business/migrations/__pycache__/0004_judgment_davar_description.cpython-36.pyc
business/migrations/__pycache__/0005_auto_20190802_0949.cpython-36.pyc
business/migrations/__pycache__/0006_auto_20190802_0957.cpython-36.pyc
business/migrations/__pycache__/0007_remove_dashboard_maharat.cpython-36.pyc
business/migrations/__pycache__/0008_auto_20190814_0652.cpython-36.pyc
business/migrations/__pycache__/0009_auto_20190818_0723.cpython-36.pyc
business/migrations/__pycache__/__init__.cpython-36.pyc
dashboard/__pycache__/__init__.cpython-36.pyc
dashboard/__pycache__/admin.cpython-36.pyc
dashboard/__pycache__/forms.cpython-36.pyc
dashboard/__pycache__/models.cpython-36.pyc
dashboard/__pycache__/urls.cpython-36.pyc
dashboard/__pycache__/views.cpython-36.pyc
dashboard/migrations/__pycache__/__init__.cpython-36.pyc
davari/__pycache__/__init__.cpython-36.pyc
davari/__pycache__/admin.cpython-36.pyc
davari/__pycache__/forms.cpython-36.pyc
davari/__pycache__/models.cpython-36.pyc
davari/__pycache__/urls.cpython-36.pyc
davari/__pycache__/views.cpython-36.pyc
davari/migrations/__pycache__/0001_initial.cpython-36.pyc
davari/migrations/__pycache__/0002_auto_20190718_0705.cpython-36.pyc
davari/migrations/__pycache__/__init__.cpython-36.pyc
onesentence/__pycache__/__init__.cpython-36.pyc
onesentence/__pycache__/enums.cpython-36.pyc
onesentence/__pycache__/settings.cpython-36.pyc
onesentence/__pycache__/urls.cpython-36.pyc
onesentence/__pycache__/wsgi.cpython-36.pyc
payment/__pycache__/__init__.cpython-36.pyc
payment/__pycache__/admin.cpython-36.pyc
payment/__pycache__/models.cpython-36.pyc
payment/__pycache__/urls.cpython-36.pyc
payment/__pycache__/views.cpython-36.pyc
payment/migrations/__pycache__/__init__.cpython-36.pyc
transactions/__pycache__/__init__.cpython-36.pyc
transactions/__pycache__/admin.cpython-36.pyc
transactions/__pycache__/models.cpython-36.pyc
transactions/migrations/__pycache__/0001_initial.cpython-36.pyc
transactions/migrations/__pycache__/__init__.cpython-36.pyc
media/upload/Content_File_Of_Suggest/README.md
