{% extends 'base.html' %}
{% block title %} onesentence - خانه {% endblock %}
{% block content %}

    <h1>داشبورد داور</h1>

    <table border="1">
     <thead>
        <td>
         کد جمله
        </td>
        <td>
          عنوان
        </td>
        <td>
         زمان ثبت
        </td>
        <td>
            درخواست داوری از
        </td>
        <td>
            توضیحات
        </td>
        <td>
          وضعیت پیشنهاد
        </td>
        <td>
            رای به نفع
        </td>
     <td>
         بررسی درخواست
     </td>
     </thead>
     <tbody>
     {% for judgment in judgments %}
        <tr>
            <td>
             {{ judgment.suggest.sentence.id }}
            </td>
           <td>
               <a href="{% url 'dashboard:sentence_detail_dashboard' judgment.suggest.sentence.id judgment.suggest.sentence.title %}">{{ judgment.suggest.sentence.title }} </a>
           </td>
           <td>
            {{ judgment.suggest.sentence.create_time }}
           </td>
            <td>
                <a href="#"> {{ judgment.judgment_user }} </a>
            </td>
            <td>
                {{ judgment.judgment_description }}
            </td>
           <td>
            {{ judgment.suggest.status }}
           </td>
            <td>
                {{ judgment.judgment_won_user }}
            </td>
            <td>
                {% if judgment.judgment_won_user %}
                 -
                {% else %}
                <a href=" {% url 'davari:sentence_detail_davari' judgment.suggest.id%}">
                    بررسی درخواست</a>
                {% endif %}
            </td>
     </tr>
     {% endfor %}
     </tbody>
    </table>

{% endblock %}