{% extends 'base.html' %}
{% block title %} onesentence - جزییات جمله {% endblock %}
{% block content %}
    <h1>جزییات</h1>
    <hr />
    <div style="border:1px solid gray; margin:15px;">
            عنوان:
            <a href="#">{{ sentence.title }}</a>
            <br />
            متن اصلی:
            <span> {{sentence.content_text}} </span>
            <br />
            کاربر:
            <a href="#">{{ sentence.user }}</a>
            <br >
            زمان ثبت:
            <span>{{ sentence.create_time }}</span>
            <br />
            تخصص:
            <span> {{sentence.takhasos.title }} </span>
            <br />
            تعداد کاراکترها:
            <span> {{sentence.word_count}} </span>
            <br />
            مهلت انجام:
            <span> {{sentence.mohlat_rooz }} روز</span>
            <span> {{sentence.mohlat_saat }} ساعت</span>
            <br />
            <span style="font-weight:bold;">پیشنهادات: </span>
            {{ suggest_count }}
            <h1>ارسال پیشنهاد</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">ارسال پیشنهاد</button>
            </form>
        </div>
{% endblock %}