{% extends 'base.html' %}
{% block title %} onesentence - جمله ها {% endblock %}
{% block content %}
    <h1>جمله ها</h1>
    <hr />
    {% for sentence in sentence_list.all|slice:":10" %}
        <div style="border:1px solid gray; margin:15px;">
            کد جمله:
            <span> {{sentence.id }} </span>
            <br />
            عنوان:
            <a href="{{ sentence.get_absolute_url }}">{{ sentence.title }}</a>
            <br />
            کاربر:
            <a href="#">{{ sentence.user }}</a>
            <br >
            زمان ثبت:
            <span>{{ sentence.create_time }}</span>
            <br />
            تخصص:
            <span> {{sentence.takhasos.title }} </span>
            <br />
            تعداد کاراکترها:
            <span> {{sentence.word_count}} </span>
            <br />
            مهلت انجام:
            <span> {{sentence.mohlat_rooz }} روز</span>
            <span> {{sentence.mohlat_saat }} ساعت</span>
            <br />

            <a href="{{ sentence.get_absolute_url }}">مشاهده جزییات و ارایه پیشنهاد</a>
        </div>

    {% endfor %}
{% endblock %}