<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Base {% endblock %}</title>
</head>
<body dir="rtl">
    <ul>
        <li><a href="{% url 'business:home'%}">خانه</a></li>
        <li><a href="{% url 'dashboard:dashboard'%}">داشبورد</a></li>
        <li><a href="{% url 'business:add_sentence'%}">ثبت جمله</a></li>
        <li><a href="{% url 'business:sentence_list'%}">لیست جمله ها</a></li>
    </ul>
    {% block content %}

    {% endblock %}
</body>
</html>