<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Base {% endblock %}</title>
    <style type="text/css">
        .status{
        font-weight:bold;

        }
    </style>
</head>
<body dir="rtl">
    <ul>
        <li><a href="{% url 'business:home'%}">خانه</a></li>
        <li><a href="{% url 'dashboard:dashboard_ap'%}">داشبورد درخواست کننده</a></li>
        <li><a href="{% url 'dashboard:dashboard_tr'%}">داشبورد مترجم</a></li>
        <li><a href="{% url 'business:add_sentence'%}">ثبت جمله</a></li>
        <li><a href="{% url 'business:sentence_list'%}">لیست جمله ها</a></li>
        {% if request.user.is_authenticated %}
            <a href="{% url 'business:logout' %}">خروج</a>
        {% endif %}
    </ul>
    {% block content %}

    {% endblock %}
</body>
</html>