{% extends 'base.html' %}
{% block title %} onesentence - خانه {% endblock %}
{% block content %}

 <h1>داشبورد درخواست کننده</h1>
<h3>همه جمله ها</h3>
    <table border="1">
     <thead>
        <td>
         کد جمله
        </td>
        <td>
          عنوان
        </td>
        <td>
          تعداد کاراکترها
        </td>
        <td>
         زمان ثبت
        </td>
        <td>
         تعداد پیشنهادات
        </td>
        <td>
            وضعیت
        </td>
        <td>
           مترجم
        </td>
        <td>
            بررسی پیشنهادات
        </td>
     </thead>
     <tbody>
     {% for sentence in my_sentence %}
        <tr>
            <td>
             {{ sentence.id }}
            </td>
           <td>
               <a href="{% url 'dashboard:sentence_detail_dashboard' sentence.id sentence.title %}">{{ sentence.title }}</a>
           </td>
           <td>
            {{ sentence.word_count }}
           </td>
           <td>
            {{ sentence.create_time }}
           </td>
           <td>
            {{ sentence.num_suggests }}
           </td>
            <td>
            {{ sentence.status }}
            </td>
           <td>
               {% if  sentence.translator %}
               <a href="#"> {{ sentence.translator }} </a>
               {% else %}
                هنوز انتخاب نشده
               {% endif %}
           </td>
            <td>
                {% if sentence.status_id == 2 and  sentence.num_suggests > 0%}
                <a href="{% url 'dashboard:check_suggest' sentence.id%}">بررسی پیشنهادات</a>
                {% else %}
                -
                {% endif %}
            </td>
     </tr>
     {% endfor %}
     </tbody>
    </table>
{% endblock %}