{% extends 'base.html' %}
{% block title %} onesentence - خانه {% endblock %}
{% block content %}

 <h1>داشبورد درخواست کننده</h1>
<h3>همه جمله ها</h3>
    <table border="1">
     <thead>
        <td>
         کد جمله
        </td>
        <td>
          عنوان
        </td>
        <td>
          تعداد کاراکترها
        </td>
        <td>
         زمان ثبت
        </td>
        <td>
         تعداد پیشنهادات
        </td>
        <td>
           مترجم
        </td>
     </thead>
     <tbody>
     {% for sentence in my_sentence %}
        <tr>
            <td>
             {{ sentence.id }}
            </td>
           <td>
               <a href="{{ sentence.get_absolute_url }}">{{ sentence.title }}</a>
           </td>
           <td>
            {{ sentence.word_count }}
           </td>
           <td>
            {{ sentence.create_time }}
           </td>
           <td>
            {{ sentence.num_suggests }}
           </td>
           <td>
               {% if  sentence.translator %}
                    {{ sentence.translator }}
               {% else %}
                هنوز انتخاب نشده
               {% endif %}
           </td>
     </tr>
     {% endfor %}
     </tbody>
    </table>
{% endblock %}