{% extends 'base.html' %}
{% block title %} onesentence - جزییات جمله {% endblock %}
{% block content %}
    <h1>جزییات جمله</h1>
    <hr />
    <div style="border:1px solid gray; margin:15px;">
        عنوان:
        <a href="#">{{ sentence.title }}</a>
        <br />
        متن اصلی:
        <span> {{sentence.content_text}} </span>
        <br />
        زمان ثبت:
        <span>{{ sentence.create_time }}</span>
        <br />
        تخصص:
        <span> {{sentence.takhasos.title }} </span>
        <br />
        تعداد کاراکترها:
        <span> {{sentence.word_count}} </span>
        <br />
        درخواست کننده:
        <a href="#"> {{sentence.user}} </a>
        <br />
        مهلت انجام:
        <span> {{sentence.mohlat_rooz }} روز</span>
        <span> {{sentence.mohlat_saat }} ساعت</span>
        <br />
        <span class="status">وضعیت جمله:</span>
        <span class="status">{{ sentence.status }}</span>
        <br />
        <span class="status">وضعیت پرداخت:</span>
        <span class="status">{{ sentence.payment_status }}</span>
        {% if accept_suggest %}
            <h3>پیشنهاد تایید شده
            </h3>
            <div style="background-color:lightgray; margin:5px; padding:5px;">
                {% for suggest in accept_suggest %}
                    مجری:
                    <span>{{ suggest.mojri }}</span>
                    <br />
                    مبلغ پیشنهادی:
                    <span>{{ suggest.mablagh_pishnahadi }}</span>
                    <br />
                    توضیحات:
                    <span>{{ suggest.description }}</span>
                    <br />
                    فایل تحویلی:
                    {% if request.user == suggest.mojri %}
                    <span>{{ suggest.completeFile }}</span>
                    {% elif sentence.status.id == 4 %}
                        <form method="get" action="/payment/">
                            <input type="hidden" name="sentence" value="{{ sentence.id }}">
                            <input type="hidden" name="suggest" value="{{ suggest.id }}">
                            <br />
                            <input type="submit" value="پرداخت هزینه و دانلود فایل"/>
                        </form>
                    {% endif  %}
                    {% if request.user == suggest.mojri %}
                        <h3>ارسال فایل ترجمه</h3>
                        <form method="post" action=""  enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_file.as_p }}
                            <br />
                            <input type="submit" name="complete_file_btn" value="ارسال فایل"/>
                        </form>
                    {% endif  %}
                {% endfor %}
            </div>
            <h3>درخواست داوری</h3>
                {% if judgments %}
                    <div>
                    {% for judgment in judgments %}
                        درخواست کننده:
                        {{ judgment.judgment_user }}
                        <br/>
                        تاریخ ثبت:
                        {{ judgment.create_time }}
                        <br/>
                        توضیحات:
                        {{ judgment.judgment_description }}
                        <br/>
                        رای داور به نفع:
                        {{ judgment.judgment_won_user }}
                                                <br/>
                        توضیحات داور:
                        {{ judgment.davar_description }}
                    {% endfor %}
                    </div>
                {% else %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form_judgment.as_p }}
                        <input type="submit" name="judgment_btn" value="ثبت درخواست داوری"/>
                    </form>
                {% endif %}
        {% else %}
            <h3>هنوز پیشنهادی تایید نشده</h3>
        {% endif %}
    </div>
{% endblock %}